Source: check-cluster-state-dependent
Section: python
Priority: optional
Maintainer: Torge Szczepanek <info@cygnusnetworks.de>
Build-Depends: debhelper (>= 10), python3-all, python3-setuptools
Standards-Version: 3.9.4

Package: check-cluster-state-dependent
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Cluster State Dependent Nagios Check Wrapper Plugin
 A nagios plugin to run other plugins as a wrapper, based on
 the condition of a HA cluster state.
